 #plants {
  display: grid;
  grid-template-columns: repeat(3, calc((100% - 20px * 2 - 5px * 2) / 3));
  grid-gap: 20px;
  justify-content: space-between;
  padding: 5px;
  max-width: 1200px;
  margin: 0px auto;
}

@media only screen and (max-width: 992px) {
  #plants {
    grid-template-columns: repeat(2, calc((100% - 20px * 2 - 5px * 2) / 2));
  }
}

@media only screen and (max-width: 760px) {
  #plants {
    grid-template-columns: 100%;
  }
}


header {
  max-width: 1200px;
  margin: 0px auto;
  margin-bottom: 30px;
}

.navbar {
  padding: 1rem 0;
}

.category-nav {
  padding: 0px;
  gap: 20px;
}

.category-nav .category {
  padding: 0.8rem 0;
}

.plant,
.plant-desc {
  border-radius: 40px;
  text-overflow: ellipsis ;
  align-content: center;
}

.plant {
  max-width: 100%;
  aspect-ratio: 1 / 1;
  min-height: auto;
  background-position: center;
  background-size: cover;
  cursor: pointer;
}

.plant-desc {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  opacity: 0;
  transition: 0.6s ease opacity;
  backdrop-filter: blur(4px) brightness(0.6);
  
  overflow: hidden;
}

.plant-desc > div {
  padding: 40px;
  align-items: center;
}

.plant-desc:hover {
  opacity: 1;
}

.plant-title {
  font-size: 1.8rem;
  font-family: "Epilogue", sans-serif;
}

.plant > img {
  max-width: 100%;
  height: auto;
}

.plant-text {
  margin: 25px 0px;
  
}

.button-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

/* like and add buttons */
.add-btn-modal,
.like-btn-modal,
.add-btn,
.like-btn {
  outline: none;
  border: 1px solid white;
  border-radius: 6px;
  padding: 5px 18px;
  transition: 0.3s ease all;
  cursor: pointer;
}
.add-btn,
.like-btn {
  background-color: transparent;
  color: white;
}
.add-btn:hover,
.like-btn:hover  {
  background-color: white;
  color: #555;
}


.add-btn-modal,
.like-btn-modal {
  background-color: white;
  opacity: 0.6;
  color: black;
  font-weight: bold;    
}
.add-btn-modal:hover,
.like-btn-modal:hover {
  background-color: darkslategrey;
  color: #fff;
}



.modal {
  display: none;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

.container-modal{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.modal-image {
  margin: auto;
  display: block;
  max-width: 100%;
  max-height: 80%;
  border-radius: 20px;
  transition: filter 0.5s;
}

.button-container{
  height: auto;
  width: 30%;
  display: flex;
  justify-content: space-around;
  position: absolute;
  bottom: 15%;

}



.close-modal {
  color: #fff;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 50px;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.5s ease-in-out;
}



