:root {
    --gray: #3F3F44;
    --green: #388E3C;
    --whitegreen: #8BC34A;
    --white: #DDEEDF;
}

* {
	box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body { 
    background: rgb(43,72,10);
    background: linear-gradient(180deg, rgba(43,72,10,1) 7%, rgba(13,77,15,1) 100%); 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.container {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
    width: 100vw;
    
}

.center-box {
    min-width: 1200px;
    height: 600px;
    display: flex;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
    border-radius: 0%;
}

.register-wrapper{
    display: flex;
    flex: 0.3;
    background-color: var(--gray);
    color: white;
    background-image: url(https://images.unsplash.com/photo-1528145913842-29edebe7bdb9?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=800);
    background-position: center;
    
    align-items: center;
    justify-content: center;
}

.register {
    width: 40% ;
}

.register-wrapper{
    align-items: center;
    justify-content: center;
    display: flex;
    text-align: center;
}

.login {
    width: 50%;
}

.login-wrapper {
    width: 100%;
    flex: 0.7;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.login > h1 {
    text-align: center;
    font-size: 30px;
    color: var(--whitegreen);
    padding-bottom: 30px;
}

label, input {
    display: block;
    padding-top: 20px;
}

label {
    font-size: 1rem;
    color: rgb(76, 76, 76);
    font-weight: 700;
    
}

input {
    border-bottom: #3F3F44;
    padding: 10px;
    font-size: 1.2rem;
    border-radius: 10px;
    outline: none;
}

input {
    width: 100%;
}

form > p {
    padding-top: 0px;
    font-size: 0.75rem;
    text-align: right;
    width: 50%;
    display: inline-block;
}

#login-btn {
    width: 40%;
    margin-top: 10px;
    background-color: var(--green);
    color: var(--gray);
    cursor: pointer;
    border: 2px solid var(--gray);
    padding: 7px;
    border-radius: 10px;
    font-weight: 700;
    font-size: 1.2rem;
    color: white;
    display: inline-block;

}
#register-btn {

    width: 100%;
    margin-top: 10px;
    background-color: var(--whitegreen);
    cursor: pointer;
    border: 2px ;
    padding: 10px;
    
    border-radius: 10px;
    font-weight: 700;
    font-size: 0.9rem;
}
