@keyframes fade-in{
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}


* {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    font-size: 1rem;
  }

.login-frame{
    width: 100vw;
    height: 100vh;
    background: rgb(197,197,197);
    background: linear-gradient(90deg, rgba(197,197,197,1) 0%, rgba(0,42,0,1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container{
    height: 85%;
    width: 80%;
    display: flex;
    border-radius: 7px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    animation: fade-in 1s both;
}


.left-login-container {
    position: relative;
    height: 100%;
    width: 55%;
    background-image: url("../assets/login-background.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    filter: brightness(0.9);
    z-index: 0;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    display: flex;
    justify-content: center;
}
 
.left-login-content{
    height: 100%;
    width: 80%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    animation: fade-in 1s both;
}


.left-login-content > h1{
    position: relative;
    margin-bottom: 100px;
    font-size: 50px;
    color: white;
    z-index: 1;
}

.site-description{
    color: white;
    animation: fade-in 3s both;
}

.right-login-container{
    height: 100%;
    width: 45%;
    background-color: #ececec;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.right-content{
    height: 100%;
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.right-components{
    width: 100%;
}

h2{
    font-weight: 600;
    color: rgb(29, 29, 29);
    margin-bottom: 40px;

}

.login-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3px;
}

.input-values{
    width: 80%;
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 0 5px 0 5px;
}

.input-values > input{
    height: 35px;
    width: 100%;
    margin-bottom: 35px;
    background: transparent;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    outline: none;
    color: rgb(83, 79, 79);
    font-size: small;
}


.input-values > input:focus ~ .form-data{
    margin-top: -15px;
    font-size: small;
    color: #025402;
}
.input-values > input:valid ~ .form-data{
    margin-top: -15px;
    font-size: small;
    color: #025402;
}
.input-values > input:focus{
    border-color: #025402;
}
.input-values > input:valid{
    border-color: #025402;
}

.form-data{
    position: absolute;
    font-weight: 500;
    margin-top: 8px;
    cursor: text;
    color: rgb(29, 29, 29);
    transition: 0.4s;
}

.login-button,
.register-button{
    margin-top: 25px;
    width: 80%;
    height: 35px;
    padding: 10px 20px;
    background: rgb(197,197,197);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition:  0.5s;
}

.register-button,
.login-button:hover{
    background: black;
    transition: 0.5s;
}

.register-question{
    width: 80%;
    font-size: 13px;
    margin-top: 10px;
}

.link-to-login,
.link-to-register{
    font-size: 13px;
    margin-top: 10px;
    color:#025402;
    cursor: pointer;
}

.link-to-login:hover,
.link-to-register:hover{
    font-weight: bolder;
}

.right-register-container{
    height: 100%;
    width: 45%;
    background-color: #ececec;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    display: none;
}

@media only screen and (max-width: 768px)  {

    .site-description{
        display: none;
    }

    .left-login-container > h1 {
        display: none;
    }

    .left-login-container{
        width: 25%;
    }

    .right-register-container,
    .right-login-container{
        width: 75%;
    }

    .left-login-content > h1 {
        display: none;
    }

}