* {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    font-size: 1rem;
}

body {
    overflow-x: hidden;
}

.profile-frame {
    height: auto;
    width: 100vw;
    display: flex;
    flex-direction: row;
}

.left-frame {
    height: 100%;
    width: 15vw;
    background-color: #e0e0e0;
    position: fixed;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}

.logo {
    font-weight: 700;
    margin-top: 10%;
}

.logo2 {
    display: none;
    font-weight: 700;
    margin-top: 10%;

}

.logo a {
    text-decoration: none;
}


.icons-list{
    height: 60%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul {
    width: 100%;
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 25%;
}

li {
    display: flex;
    width: 100%;
    margin: 50px 50px;
    cursor: pointer;
}

.tex-li{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

li a {
    text-decoration: none;
    color: black;
    transition: 0.5s;
}

.log-out{
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.log-out-but {
    width: 60%;
    height: 25%;
    background-color: black;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition-duration: 0.3s;
    cursor: pointer;
}

.log-out-icon{
    display: none;
}

.text-but{
    height: 80%;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.log-out-but:hover {
    background-color: #f5f5f5;
    color: black;
}


.right-frame {
    height: 100%;
    width: calc(100vw - 15vw - 20px);
    background: #f5f5f5;
    display: flex;
    flex-direction: column;
    margin-left: 15vw;
    
}

.cover-photo-container {
    height: 250px;
    width: 100%;
    background-image: url("../assets/login-background.jpg");
    background-size: 100% auto;
    background-position: center center;
    background-repeat: no-repeat;
}

.info-container {
    height: 10%;
    width: 100%;
    background-color: #f5f5f5;
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    margin-bottom: 30px;
}

.content {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
}

.left-description {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.post-info p,
.left-description p {
    font-size: 2vmin;
    white-space: normal;
    text-align: center;
    color: black;
}

.post-info {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.collections-container,
.likes-container,
.posts-container{
    display: flex;
}


.number-of-likes,
.number-of-collections,
.number-of-uploads{
    margin-left: 0.5rem;
}


.profile-image {
    height: 100%;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.p-img {
    height: 150px;
    width: 150px;
    position: absolute;
    background-image: url("../assets/login-background.jpg");
    background-size: cover;
    background-position: center 0px;
    background-repeat: no-repeat;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.7);
}


.linie {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.horizontal {
    border: none;
    border-top: 2px solid black;
    width: 80%;
}

.elements {
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 35px;
}

.like-icon,
.upload-icon,
.collection-icon {
    color: rgb(78, 76, 76);
    padding: 5px 5px 5px 5px;
    border-radius: 5px;
    transition: 0.5s;
    cursor: pointer;
    display: flex;
    padding: 16px 10px 16px 10px;
}


.upload-icon:hover,
.collection-icon:hover,
.like-icon:hover {
    color: black;
    background-color: #ada9a9;
}


.photo-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.photos {
    display: none;
    grid-template-columns: repeat(3, calc((100% - 20px * 2 - 5px * 2) / 3));
    grid-gap: 20px;
    justify-content: space-between;
    padding: 5px;
    width: 80%;
}

.photo {
    width: 100%;
    aspect-ratio: 1 / 1;
    min-height: auto;
    background-position: center;
    background-size: cover;
    border-radius: 40px;
    align-content: center;
    display: flex;
    flex-direction:column;
    justify-content: flex-end;

}

.button-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 10px;
}

.remove-btn {
    width: 35%;
    background-color: white;
    opacity: 0.6;
    color: black;
    font-weight: bold;
    outline: none;
    border: 1px solid white;
    border-radius: 6px;
    padding: 5px 5px;
    transition: 0.3s ease all;
    cursor: pointer;
}

.remove-btn:hover {
    background-color: black;
    color: white;
}

.modal-edit{
    display: none;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
}

.modal-edit-container{
    height: 700px;
    width: 600px;
    background-color: #e0e0e0;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-edit{
    height: 40%;
    width: 90%;
    padding: 10% 10% 0% 10%;
}

.close{
    display: flex;
    justify-content: flex-end;
    margin: 20px 20px;
}

.close-modal-edit{
    height: 35px;
    width: 80px;
    border: none;
    border-radius: 30px;
    margin-right: 10px;
    background-color: #e0e0e0;
    cursor: pointer;
    transition: 0.5s;
}

.save-modal-edit{
    height: 35px;
    width: 80px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.5s;
}

.save-modal-edit:hover{
    color: #ccc;
    background-color: green;
    opacity: 0.8 ;
}

.close-modal-edit:hover{
    color: black;
    background-color: #ada9a9;
    opacity: 0.8 ;
}

.section-form{
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    gap: 50px;
}


section > input {
    margin-top: 10px;
    height: 35px;
    width: 88%;
    border: none;
    border-radius: 5px;
    outline: none;
    padding-left: 10px;
    padding-right: 10px;
}

section > textarea {
    margin-top: 10px;
    width: 95%;
    resize: none;
    border: none;
    border-radius: 5px;
    outline: none;
    padding: 10px;
}

.photos-edit{
    height: 30%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.edit-profile-photo{
    height: 170px;
    width: 170px;
    border-radius: 100%;
    background-color: #ada9a9;
    display: flex;
    justify-content: center;
    align-items: center;
}

.edit-cover-photo{
    height: 170px;
    width: 330px;
    background-color: #4caf50;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.change-cov-photo,
.change-prof-photo{
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

#change-cover-photo-label,
#change-profile-photo-label{
    cursor: pointer;
}

.change-cov-photo{
    background-color: #4caf50;
    cursor: pointer;
    transition: 0.5s;
}
.change-cov-photo:hover{
    background-color: rgb(0, 102, 0);
}

.change-prof-photo{
    background-color: #ada9a9;
    cursor: pointer;
    transition: 0.5s;
}
.change-prof-photo:hover{
    background-color: #e0e0e0;
}

@media only screen and (max-width: 1300px) {
    .text-li{
        display: none;
    }

    .icons-list > ul{
        margin-left: 0;
    }

    li {
        justify-content: center;
        align-items: center;
    }

    .log-out-but{
        display: none;
    }

    .log-out-icon{
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }

}

@media only screen and (max-width: 992px) {
    .photos {
        grid-template-columns: repeat(2, calc((100% - 20px * 2 - 5px * 2) / 2));
    }

    .upload-icon,
    .collection-icon,
    .like-icon{
        padding: 8px 5px 16px 10px;
    }

    .upload-icon > p,
    .collection-icon > p,
    .like-icon > p{
        display: none;
    }

}

@media only screen and (max-width: 760px) {
    .photos {
        grid-template-columns: 100%;
    }

    .p-img {
        height: 130px;
        width: 130px;
    }

    .modal-edit-container{
        height: 600px;
        width: 500px;
    }

    .edit-profile-photo{
        height: 150px;
        width: 150px;
    }
    .edit-cover-photo{
        height: 150px;
        width: 260px;
    }

}

@media only screen and (max-width: 650px) {
    
    .p-img {
        height: 120px;
        width: 120px;
    }

    .logo{
        display: none;
    }

    .logo2{
        display: block;
    }

    .modal-edit-container{
        height: 600px;
        width: 400px;
    }


    .edit-profile-photo{
        height: 120px;
        width: 120px;
    }
    .edit-cover-photo{
        height: 120px;
        width: 200px;
    }


}

@media only screen and (max-width: 450px) {
    
    .p-img {
        height: 90px;
        width: 90px;
        margin-bottom: 35px;
    }

    .modal-edit-container{
        height: 550px;
        width: 350px;
    }

    .edit-profile-photo{
        height: 100px;
        width: 100px;
    }
    .edit-cover-photo{
        height: 100px;
        width: 150px;
    }

    .change-cov-photo,
    .change-prof-photo{
        width: 50px;
    }

}

#profile-photo-edit {
    display: none; 
}

#cover-photo-edit {
    display: none; 
}