
body{
    width: 100%;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    box-sizing: border-box;
    font-family: 'Helvetica' sans-serif;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

a{
    text-decoration: none;
}

.header-wrapper header{
    width: 100%;
    background: url(../assets/hero-background.jpg) no-repeat 50% 20% / cover;
    height: calc(100px + 15vw);
}

.header-wrapper header .but{
    height: calc(100px + 15vw);
    display: flex;
    justify-content: flex-end;
    align-items: end;
}


.header-wrapper header button{
    background-color: #fff;
    margin-bottom: 20px;
    margin-right: 20px;
    color: #1d1d1d;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    transition: filter 0.5s;
}

.header-wrapper header button:hover{
    filter: brightness(85%);
}

.header-wrapper .cols-container .left-col{
    padding: 25px 20px;
    text-align: center;
    max-width: 350px;
    position: relative;
    margin: 0 auto;
}

.header-wrapper .cols-container .left-col .img-container{
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
}

.header-wrapper .cols-container .left-col .img-container img{
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 50%;
    display: block;   
}

.header-wrapper .cols-container .left-col .img-container span{
    position: absolute;
    background: #2afa6a;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    bottom: 3px;
    right: 11px;
    border: 2px solid #fff;
}

.header-wrapper .cols-container .left-col h2{
    margin-top: 60px;
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 5px;
}

.header-wrapper .cols-container .left-col p{
    font-size: 0.9 rem;
    color: #818181;
    margin: 0;
}

.header-wrapper .cols-container .left-col .about{
    justify-content: space-between;
    position: relative;
    margin: 35px 0;
}

.header-wrapper .cols-container .left-col .about li{
    display: flex;
    flex-direction: column;
    color: #818181;
    font-size: 0.9rem;
}

.header-wrapper .cols-container .left-col .about span{
    color: #1d1d1d;
    font-weight: 600;
}

.header-wrapper .cols-container .left-col .about::after{
    position: absolute;
    content: "";
    bottom: -16px;
    display: block;
    background: #ccc;
    height: 1px;
    width: 100%;
}

.header-wrapper .cols-container .content p{
    font-size: 1rem;
    color: #1d1d1d;
    line-height: 1.8em;
}

.header-wrapper .cols-container .content ul{
    gap: 30px;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}

.header-wrapper .cols-container .content ul li{
    font-size: 1.3rem;
    transition: filter 0.5s;
}

.header-wrapper .cols-container .content ul li:nth-child(1):hover{
    color: #00acce;
}

.header-wrapper .cols-container .content ul li:nth-child(2):hover{
    color: #c8232c;
}

.header-wrapper .cols-container .content ul li:nth-child(3):hover{
    color: 	#0165E1;
}

.header-wrapper .cols-container .content ul li:nth-child(4):hover{
    color: #ea4c89;
}

.header-wrapper .cols-container .right-col{
    margin-bottom: 20px;
}

.header-wrapper .cols-container .right-col nav{
    display: flex;
    align-items: center;
    padding: 30px 0;
    justify-content: space-between;
    flex-direction: column;
}

.header-wrapper .cols-container .right-col nav ul{
    display: flex;
    gap: 20px;
    flex-direction: column;
}

.header-wrapper .cols-container .right-col nav ul li a{
    text-transform: uppercase;
    color: #818181;
}

.header-wrapper .cols-container .right-col nav button{
    background-color: #3cb46e;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
    transition: filter 0.5s;
}

.header-wrapper .cols-container .right-col nav button:hover{
    filter: brightness(85%);
}

.header-wrapper .cols-container .right-col nav ul li:nth-child(2) a{
    color: #1d1d1d;
    font-weight: 600;
}

.header-wrapper .cols-container .right-col .liked-photos{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
    gap: 20px;
}

.header-wrapper .cols-container .right-col .liked-photos img{
    max-width: 100%;
    display: block;
    height: 100%;
    object-fit: cover;
    transition: filter 0.5s;
}

.header-wrapper .cols-container .right-col .liked-photos img:hover{
    filter: brightness(50%);
}


@media(min-width: 868px) {
    .header-wrapper .cols-container{
        max-width: 1200px;
        margin: 0 auto;
        width: 90%;
        justify-content: space-between;
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: 50px;
    }

    .header-wrapper .cols-container .left-col{
        padding: 25px 0;
    }

    .header-wrapper .cols-container .right-col nav ul{
        flex-direction: row;
        gap: 30px;
    }

    .header-wrapper .cols-container .right-col .photos{
        height: 365px;
        overflow: auto;
        padding: 0 0 30px;
    }
}


@media(min-width: 1017px){
    .header-wrapper .cols-container .left-col{
        margin: 0;
        margin-right: auto;
    }

    .header-wrapper .cols-container .right-col nav{
        flex-direction: row;
    }

    .header-wrapper .cols-container .right-col nav button{
        margin-top: 0;
    }
}
