*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: rgb(253,253,246);
    background: linear-gradient(180deg, rgba(253,253,246,1) 12%, rgba(219,233,183,1) 100%);
}

.container{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.center-box{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 600px;
    height: 400px;
    background-color: #F4DADA;
    border-radius: 20px;
    flex-direction: column;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}
.center-box .title{
    margin-bottom: 10px;

}
label, input {
    display: block;
}

label {
    font-size: 0.75rem;
    color: rgb(76, 76, 76);
    font-weight: 700;
}

form > p {
    font-size: 0.75rem;
}


#register-btn {
    width: 100%;
    margin-top: 10px;
    background-color: var(#B8B2A6);
    color: var(--gray);
    cursor: pointer;
    border: 2px solid var();
    padding: 7px;
    border-radius: 10px;
    font-weight: 700;
    font-size: 0.9rem;
}

input {
    border: 2px solid var(#B8B2A6);
    padding: 6px;
    font-size: 0.8rem;
    border-radius: 10px;
    outline: none;
    width: 100%;
}
