
body{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F9F5F6;
}

.container {
  margin-top: 30px;
    width: 50%;
    padding: 20px;
    background-color: #cecaca;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  form {
    display: grid;
    gap: 10px;
  }
  
  label {
    font-weight: bold;
  }
  
  input[type="file"],
  textarea,
  input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: none;
  }
  
  button[type="submit"] {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #45a049;
  }

  .image{
    border: 5px solid black ;
  }


  .navbar {
    max-width: fit-content;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 3rem;
  }
  
  .buttons {
    display: flex;
    justify-content: center;
   
  }
  
  .buttons button {
    margin: 0 10px;
    background-color: transparent;
    border-color: transparent;
    cursor: pointer;
    color: black;
  }
  
  .buttons button:hover {
    border-bottom-color: white;
  }
  
  .category-nav {
  
    justify-content: space-between;
    display: flex;
    gap: 20px;
  }
  